:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body, html {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100%;
}

#app {
  text-align: center;
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}